<div class="e-affiliate">
    <img src="{{image}}" alt="{{name}}" class="e-affiliate__thumbnail" />
    <p class="e-affiliate__text">
        <span class="e-affiliate__title">{{title}}</span>
        <a href="{{url}}" target="_blank" title="{{name}}" class="e-affiliate__link">
            <span class="e-affiliate__link-text">{{name}}</span> <span class="icon--icon-external-link"></span>
        </a>
    </p>
</div>