<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en-gb" dir="{{default dir "ltr"}}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en-gb" dir="{{default dir "ltr"}}"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en-gb" dir="{{default dir "ltr"}}"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en-gb" dir="{{default dir "ltr"}}">
<!--<![endif]--> 
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ title }}</title>

        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:site_name" content="" />
        <meta property="og:description" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />

        <link rel="canonical" href="#" />

        <meta name="theme-color" content="#C92027">

        <link rel="shortcut icon" href="/_client/favicon.ico" type="image/icon" />

        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900italic,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="/assets/css/screen.css" rel="stylesheet" media="screen" />
        <!--<![endif]-->

        <!--[if IE 9 ]>
        <link href="/assets/css/screen-ie9.css" rel="stylesheet" media="screen" />
        <![endif]-->

        <!--[if IE 8 ]>
        <link href="/assets/css/screen-ie8.css" rel="stylesheet" media="screen" />
        <![endif]-->

        <!--[if IE 7 ]>
        <link href="/assets/css/screen-ie7.css" rel="stylesheet" media="screen" />
        <![endif]-->

        <link href="/assets/css/print.css" rel="stylesheet" media="print" />

        <script src="/assets/js/modernizr-custom.js"></script>

        <script src="/assets/js/jquery.min.js"></script>

    </head>

    <body data-require="./src/views/page-view" id="top" class="{{#if creativeReview}}creative-review{{/if}}">

        <main class="main cf">

            <p>
                <a href="/frontend/build/">Index</a>
            </p>

            {{> body }}	
            
        </main>

        {{> c-grid-overlay }}

        <script src="/assets/js/entry.js"></script>

    </body>

</html>
