<nav class="c-breadcrumb">
    <div class="grid-constraint">
        <div class="grid grid--center">
            <div class="grid__item one-whole">
                <ul class="c-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
                    {{#each this}}
                        {{#if this.href}}
                            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" data-breadcrumb-list-item>
                                <a class="c-breadcrumb__link" href="{{this.href}}" itemprop="item" title="{{this.label}}">
                                    <span itemprop="name">{{this.label}}</span>
                                </a>
                                <meta itemprop="position" content="{{this.order}}" />
                            </li>
                        {{else}}
                            <li class="c-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" data-breadcrumb-list-item>
                                <span itemprop="item" title="{{this.label}}">
                                    <span itemprop="name">{{this.label}}</span>
                                </span>
                                <meta itemprop="position" content="{{this.order}}" />
                            </li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</nav>